In [5]:
import kagglehub
import pandas as pd
import numpy as np

# Baixar o dataset do Kaggle com kagglehub
path = kagglehub.dataset_download("ahmedmohamed2003/cafe-sales-dirty-data-for-cleaning-training")
print("Caminho do dataset:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.11)
Caminho do dataset: C:\Users\lucas\.cache\kagglehub\datasets\ahmedmohamed2003\cafe-sales-dirty-data-for-cleaning-training\versions\1

In [6]:
import os

# Ver os arquivos disponíveis no diretório
os.listdir(path)

['dirty_cafe_sales.csv']

In [7]:
# Leitura do dataset sujo
df = pd.read_csv(r"C:\Users\lucas\.cache\kagglehub\datasets\ahmedmohamed2003\cafe-sales-dirty-data-for-cleaning-training\versions\1\dirty_cafe_sales.csv")

# Visualizar as 5 primeiras linhas
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [8]:
# Verificar a presença de valores nulos (vazios) em cada coluna
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [15]:
# 1. Preencher 'Item' com "Desconhecido"
df["Item"] = df["Item"].fillna("Desconhecido")

# 2. Converter colunas numéricas para tipo float
df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce")
df["Price Per Unit"] = pd.to_numeric(df["Price Per Unit"], errors="coerce")

# 3. Preencher valores numéricos com a mediana da coluna
df["Quantity"] = df["Quantity"].fillna(df["Quantity"].median())
df["Price Per Unit"] = df["Price Per Unit"].fillna(df["Price Per Unit"].median())

# 4. Recalcular 'Total Spent'
df["Total Spent"] = df["Quantity"] * df["Price Per Unit"]

# 5. Preencher 'Payment Method' com "Não informado"
df["Payment Method"] = df["Payment Method"].fillna("Não informado")

# 6. Remover a coluna 'Location' (se ainda existir)
df = df.drop(columns=["Location"], errors="ignore")

# 7. Converter 'Transaction Date' para datetime e excluir valores inválidos
df["Transaction Date"] = pd.to_datetime(df["Transaction Date"], errors="coerce")
df = df.dropna(subset=["Transaction Date"])

In [16]:
# Verificar novamente se ainda restam valores nulos
print("Valores ausentes por coluna:")
print(df.isnull().sum())

# Visualizar a estrutura do DataFrame após a limpeza
print("\nInformações gerais do DataFrame:")
print(df.info())

# Visualizar resumo estatístico das colunas numéricas
print("\nResumo estatístico das colunas numéricas:")
print(df.describe())

Valores ausentes por coluna:
Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Transaction Date    0
dtype: int64

Informações gerais do DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 9540 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9540 non-null   object
 1   Item              9540 non-null   object
 2   Quantity          9540 non-null   float64
 3   Price Per Unit    9540 non-null   float64
 4   Total Spent       9540 non-null   float64
 5   Payment Method    9540 non-null   object
 6   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 596.2+ KB
None

Resumo estatístico das colunas numéricas:
          Quantity  Price Per Unit  Total Spent               Transaction Date
count  9540.000000     9540.000000  9540.000000                           9540
mean      3.024109        2.952673     8.935692  2023-07-01 23:00:31.698113536
min       1.000000        1.000000     1.000000            2023-01-01 00:00:00
25%       2.000000        2.000000     4.000000            2023-04-01 00:00:00
50%       3.000000        3.000000     8.000000            2023-07-02 00:00:00
75%       4.000000        4.000000    12.000000            2023-10-02 00:00:00
max       5.000000        5.000000    25.000000            2023-12-31 00:00:00
std       1.384186        1.243449     5.827677                            NaN

In [17]:
# Exportar o DataFrame limpo para um novo arquivo CSV
df.to_csv("cafe_sales_limpo.csv", index=False)

# Confirmação
print("Arquivo 'cafe_sales_limpo.csv' exportado com sucesso.")

Arquivo 'cafe_sales_limpo.csv' exportado com sucesso.